*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --contrast-color: #99E32D;
   --letter-gray: #A3A3A3;
     --black-nav:#000000;
     --white: #FFFFFF;
    --black-head: #080B12;
    --main-color: #141922;
    --playbar: #282828;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/**********UTILITIES*********/
.padding-small{
    padding: 10px 10px;
}
.pad-to-bo{
    padding: 15px 0;
}
.upercase{
    text-transform: uppercase;
}
.d-flex{
    display: flex;
}
.justify-end{
    justify-content: flex-end;  
}
.justify-space{
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
    align-content: center;
}
.txt-center {
    text-align: center;
}

.butom {
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid white;
    color: bisque;
    border-radius: 20px;
    text-decoration: none;
}
.butom:hover {
    transform: scale(1.1);
}
/**********UTILITIES*********/
.wrapper {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}
.container {
    width: 100%;
    height: calc(100% - 90px);
    background-color: rgb(36, 36, 36);
    overflow: hidden;
    display: flex;
}
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--playbar);
}
/***************NAV-CONTAIN*********/
.nav-contain {
    width: 230px;
    min-height: 480px;
    background-color: var(--black-nav);
    padding: 20px;
    overflow: hidden;
}

.box-nav {
    width: 100%;
    height: calc(100% - 80px);
}
.bottom-box {
    width: 100%;
    height: 80px;
   
}
.logo-primary, .logo-small img{
    width: 70%;
}
.logo-primary img {
   
    padding-bottom: 20px;
}
.logo-small {
    padding: 5px;
    display: none;
}
.nav-home img {
    width: 20%;
    opacity: 1;
}
.nav-home a:hover img {
    opacity: 2;
}
.nav-home a{
    border-left: 3px solid transparent;
    padding: 10px;
}
.nav-home a:hover, 
.nav-home a.fisso{  
    border-left: 3px solid var(--contrast-color);
    
}
.nav-home a:hover{
    color: var(--white);
}
.nav-home span {
    padding-left: 5px;
}

.bottom-box img {
    width: 15%;
}
.bottom-box a{
    color: var(--letter-gray);
    padding: 2px 0;
}
hr {
    height: 2px;
    background-color: var(--letter-gray);
}
.bottom-box span,h4 {
    padding-left: 5px;

}
.bottom-box a:hover {
    color: var(--white);
}
.bottom-box .profilo img {
    background-color: var(--letter-gray);
    border-radius: 50%;
    width: 30px;
    
}

li,a {
    text-decoration: none;
    list-style: none;
}
li,a:hover{
    color: var(--white);
    transform: scale(1.1);
}
.nav-home li{
    padding: 10px 0;
}
.nav-home a {
    color: var(--letter-gray);
}

.playlist a,li {
    padding: 10px 0;
    color: var(--letter-gray);
}
#playlist li, a:hover {
    color: var(--white);
    transform: scale(1.1);
}
#play-list .di-flex{
    padding: 15px 0;
}
#play-list h4 {
    padding: 10px 0;
}
#play-list i {
    font-size: 2rem;
}
/***************NAV-CONTAIN*********/
.contenuto{
    width: calc(100% - 230px);
    height: 100%;
    overflow: auto;
    background-color: var(--main-color);
}
.nav-main ul {
    padding: 40px;
    justify-content: center;
    display: flex;
}
.nav-main li{
    padding: 5px 15px;
    font-size: 15px;
    color: var(--letter-gray);
    display: block;  
}
.nav-main li a {
    color: var(--letter-gray);
    display: block;
}
.section nav ul li:after{
    height: 2px;
    width: 50%;
    content: '';
    margin: 0 auto;
    background-color: transparent;
    display: block;
}
.section nav ul li:hover:after,
.section nav ul li.unico:after {
    background-color: var(--contrast-color);
}
.section nav ul li a:hover {
    color: var(--white);
    transform: scale(1.1);
}
.call{
    position: fixed;
    top: 0;
    width: calc(100% - 230px);
    right: 0;
    height: 80px;
    background-color: var(--black-head);
}
.section {
    margin-top: 60px;
}
.section-box h2 {
    padding: 10px 0;
}
.section-box{
    padding: 15px;   
}
.box-image {
    margin-left: -15px;
    margin-right: -15px;
}
.testo {
    text-align: center;
}
.testo h3 {
    padding: 10px 0;
}
.box-creato{
    padding: 2rem 15px;
}
.box-creato p{
    padding: 10px 0;
}

.image-col {
    padding: 5px;
    width: calc(100% / 6);
}
.image-col img {
    width: 100%;
}
#artista img{
    border-radius: 50%;
}

.artisti p{
    padding-bottom: 20px;
}


.box-image .list {
    
    font-size: 22px;
    margin-bottom: 20px;
}
.box-image .list .item{
    width: 100%;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.box-image .list .item:hover{
    background-color: #252525;
}
.box-image .list .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.box-image .list .item .play{
    position: relative;
}
.box-image .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: var(--contrast-color);
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
    color:#000000;
}
.box-image .list .item:hover .play .fa{
    opacity: 1;
    transform: translateY(-20px);
}
.box-image .list .item h3{
    color: var(--white);
    font-size: 14px;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.box-image .list .item p{
    color: var(--letter-gray);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}
/**************PLAYBAR*************/
.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
#playbar img{
   min-width: 50px;
   width: 20%;
}
.sinister-lef {
    width: 230px;
    display: flex;
    align-items: center;    
}
.controls-bar {
    width: 40%;
}
.sound-right {
    width: 230px;
}
.sinister-lef .txt {
    padding-left: 10px;
}
#controls .btn-controll, .sound-right{
    display: flex;
    justify-content: center;
   align-items: center;
   
}
#controls .btn-controll span {
    margin: 0.5em;
    font-size: 30px;
}
#controls .progress {
        display: flex;
        justify-content: center;
        align-items: center;
}
#controls .progress .bar-progress {
    width: 100%;
    height: 5px;
    background-color: var(--letter-gray);
    border-radius: 10px;
    margin: 0.2em;
}

#sound .controls-right span {
    padding: 5px;
    font-size: 20px;

}
#sound .bar-small {
    width: 50%;
    height: 5px;
    background-color: var(--letter-gray);
    border-radius: 10px;
    margin: 0.2em;
}
.controls-bar .btn-controll #play-music  {
    transform: scale(1.2);
    color: white;
}

/**************PLAYBAR*************/





/***************MEDIA QUERY*************/
@media screen and (max-width: 1200px) {
    .image-col {
        width: calc((100% / 4) - 5px);
    }
}
@media screen and (max-width: 992px) {
    .image-col {
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 768px) {
    .image-col {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 576px) {
    .nav-main {
        width: 60px;
    }
   
    .contenuto{
        width: calc(100% - 60px);
    }
    .logo-small{
        display: block;
        width: 50%;
    }
    .logo-primary{
        display: none;
    }
    .nav-home span {
        display: none;
    }
    .nav-home img {
        display: block;
        width: 20%;
    }
    hr {
        display: none;
    }
    #play-list ul li span {
        display: none;
    }
    #play-list .di-flex h4,span,i {
        display: none;
    }
    .justify-center {
        justify-content: center;
    }
    
}
@media screen and (max-width: 400px) {
    .image-col {
        width: 100%;
    }
    .justify-center {
        justify-content: center;
    }
}

